{% extends "abiz/layout.html" %}
{% block title %}{{article.title}}{% endblock title %}
{% block main_header %}{% endblock main_header %}
{% block content %}
<div class="panel panel-primary">
    <h4 class="panel panel-heading">
    {{ article.article_id }} {{ article.title }}
    </h4>
    <pre class="panel panel-body jumbotron ">
{{ article.articlebody.content }}
    </pre>

<nav>
  <ul class="pager">
    <li >
        <a href="{% url 'article:detail' pk=article.previous_pk %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li class="active">
        <a href="#">
            {{article.pk}}
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li>
        <a href="{% url 'article:detail' pk=article.next_pk %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
  </ul>
</nav>
</div>
{% endblock content%}